<% bookCoverClass = locals.large ? 'book-cover-large' : '' %> <% bookGridClass =
locals.large ? 'book-grid-large' : '' %>
<div class="book-grid <%= bookGridClass %>">
  <% books.forEach(items => { %>
  <a href="/books/<%= items.id %> ">
    <img class="book-cover" <%="bookCoverClass" % />"
    src="<%=items.coverImagePath %> ">
  </a>
  <%})%>
</div>
