<header>
  <nav class="header-nav">
    <a class="header-title" href="/">Library 📚</a>

    <ul class="add-margin">
      <li style="margin-top: 1.7rem; font-size: 27px; margin-right: 1rem">
        <a class="btn btn-primary" href="/authors">Authors</a>
      </li>
      <li style="margin-top: 1.7rem; font-size: 27px; margin-right: 1rem">
        <a class="btn btn-primary" href="/authors/new">Add Author</a>
      </li>
      <li style="margin-top: 1.7rem; font-size: 27px; margin-right: 1rem">
        <a class="btn btn-primary" href="/books">Books</a>
      </li>
      <li style="margin-top: 1.7rem; font-size: 27px; margin-right: 1rem">
        <a class="btn btn-primary" href="/books/new">Add Book</a>
      </li>
    </ul>
  </nav>
</header>
