<h2>Recently Added Page</h2>

<div>
  <% books.forEach(items => { %>
  <a href="/books/<%= items.id %> ">
    <img height="150" width="150" src="<%= items.coverImagePath %> " />
  </a>
  <%}); %>
</div>
